// IDK if it's the good way to do this, let's wait for sass-bundle to be fixed
@import 'partials/header.scss';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: skyblue;
}

